/* ============================
   VARIABLE FONTS
=============================== */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ============================
     STATIC FONTS
  =============================== */

/* Thin - 100 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight - 200 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light - 300 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular - 400 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium - 500 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold - 600 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold - 700 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold - 800 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black - 900 */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
